In [ ]:
print("Testing GIT Merges")

# Movie Analysis - Learning to Code

## Loading csv File into Data Frame

### Get the necessary library to import csv into a data frame

In [14]:
import pandas as pd

### Load the CSV into a Dataframe and print the first few rows

In [15]:
movies = pd.read_csv("movies.csv")
movies.head()

    Title      Genre  Year  Rating  BoxOffice
0  movie1     horror  2016     4.8      11344
1  movie2  animation  2010     2.5     174456
2  movie3     horror  2004     1.2      36104
3  movie4     action  1997     3.2     139677
4  movie5     comedy  1992     1.9     145261

## Health check of the data frame

### Check for NAN/missing

In [16]:
movies.info()
movies.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      10000 non-null  object
 1   Genre      10000 non-null  object
 2   Year       10000 non-null  int64
 3   Rating     10000 non-null  float64
 4   BoxOffice  10000 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 390.8+ KB

Title        0
Genre        0
Year         0
Rating       0
BoxOffice    0
dtype: int64

### Handle missing data

In [17]:
movies['Rating'] = movies['Rating'].fillna(movies['Rating'].mean())
movies['BoxOffice'] = movies['BoxOffice'].fillna(0)